[Desktop Entry]
Version=1.0
Type=Application
Name=GLEEC Wallet
Exec=./GleecWallet
Icon=./GleecWallet.png
Categories=Office;Finance;
Terminal=false
StartupNotify=true
